<div class="container"> 
    <section class="container-fluid">
	  <div class="row">
		     <div class="explain col-md-6 col-lg-6">
			 <h2>アプリをダウンロード</h2>
			 <p>スマートフォンでTwitterアプリをご利用になれます。<br>
			 電話番号を以下に入力して、ショートメールで届く<br>ダウンロード用のリンクからインストールできます。</p>
		 	 <button type="button" class="btn btn-info">送信</button>
		     <p class="price">ご利用の通信事業者によってはショートメールの送受信に料金<br>がかかる場合があります。</p>
			 <a href="#">携帯電話、タブレット、パソコンでご利用の場合</a>
		     </div>
	        <div class="picture col-md-6 col-lg-6"> 
	        <img src= "<%= asset_path "iPhone.jpg" %>">
	        </div><!--picture col-md-6>-->
	     </div><!--row>-->
	  </section><!--container-fluid>-->
    </div>
		   
	